@tailwind base;
@tailwind components;
@tailwind utilities;

.text-area {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
.text-area:disabled {
  background-color: #f9f9f9;
}
